- hosts: export
  gather_facts: False
  vars:
    project_name: "{{ project_name }}"
    ibm_api_key: "{{ ibm_api_key }}"
    ibm_bucket_name: "{{ ibm_bucket_name }}"
    ibm_endpoint: "{{ ibm_endpoint }}"
    ibm_auth_endpoint: "{{ ibm_auth_endpoint }}"
    ibm_resource_id: "{{ ibm_resource_id }}"
    images:
      {% for disk in images %}
      - ['{{ disk.type }}', '{{ disk.device }}', '{{ disk.name }}', '{{ disk.size }}']  
      {% endfor %}
    output_dir: "/root/images/{{ project_name }}"
{% raw %}
  tasks:
    - name: Remove directory /root/images
      file:
        path: "/root/images"
        state: absent

    - name: Install qemu-img
      yum:
        name: qemu-img
        state: present

    - name: Install ibm-cos-sdk using pip
      pip:
        name: ibm-cos-sdk
        state: present

    - name: List bucket content
      when: ibm_api_key != "" and ibm_bucket_name != ""
      block:
        - name: Convert and upload images
          convert_images:
            ibm_endpoint: "{{ ibm_endpoint }}"
            ibm_auth_endpoint: "{{ ibm_auth_endpoint }}"
            ibm_api_key: "{{ ibm_api_key }}"
            ibm_resource_id: "{{ ibm_resource_id }}"
            bucket: "{{ ibm_bucket_name }}"
            blueprint: "{{ project_name }}"
            output_dir: "{{ output_dir }}"
            images: "{{ images }}"
            overwrite: None

    - name: Remove from the VM the directory {{ output_dir}}
      file:
        path: "{{ output_dir }}"
        state: absent

#    - name: Shutdown the VM
#      command: shutdown -h now
#      ignore_errors: true
#      tags:
#      - shutdown
{% endraw %}
