  {{ name }}_flavor:
    type: OS::Nova::Flavor
    properties:
      ram: "{{ memory }}"
      vcpus: "{{ cpu }}"
      disk: "{{ disk }}"
      is_public: True
      name: 
         list_join: ['-', [{ get_param: project_name }, "{{ name }}"]]

