
outputs:
  openstack_project_user:
    description: OpenStack user created
    value: { get_param: project_api_user }


  openstack_project_user_password:
    description: OpenStack user password created
    value: { get_param: project_api_pass }
