heat_template_version: 2016-10-14
description: Create a project
parameters:
  project_guid:
    type: string
    description: The GUID generated for the project
  project_name:
    type: string
    description: Name of the project
  project_description:
    type: string
    description: Name of the project
    default: An GPTE project
  project_api_user:
    type: string
  project_api_pass:
    type: string
  blueprint:
    type: string
resources:

