- hosts: all
  gather_facts: False
  vars:
    directory: "{{ imagesdir }}"
    images:
      {% for disk in images %}
      - ['{{ disk.device }}', '{{ disk.name }}']  
      {% endfor %}
{% raw %}
  tasks:
    - name: Remove from the VM the directory /root/images
      file:
        path: /root/images/
        state: absent
    - name: Create in the VM the directory /root/images
      file:
        path: /root/images/
        state: directory
    - name: Install qemu-img
      yum: name=qemu-img state=present
    - name: Convert the disks attached to qcow2
      command: qemu-img convert -O qcow2 -p /dev/{{ item[0]}} "/root/images/{{ item[1] }}"
      loop:  "{{ images }}"

    - name: Remove from the local server the directory
      file:
        path: /mnt/agonzalez/pool11-tor/images/
        state: absent
      delegate_to: localhost
    - name: Create the directory in the local server
      file:
        path: /mnt/agonzalez/pool11-tor/images/
        state: directory
      delegate_to: localhost

    - name: Fetch the images from the server
      fetch:
       src: /root/images/{{ item[1] }}
       dest: /mnt/agonzalez/pool11-tor/images/{{ item[1] }}
       flat: yes
      loop:  "{{ images }}"

    - name: Upload the images to OSP
      delegate_to: localhost
      os_image:
        cloud: openstack-project
        name: "{{ item[1] }}"
        container_format: bare
        disk_format: qcow2
        filename: "/mnt/agonzalez/pool11-tor/images/{{ item[1] }}"
      loop:  "{{ images }}"

{% endraw %}

