- hosts: import
  gather_facts: False
  become: true
  vars:
    project_name: "{{ project_name }}"
    ibm_api_key: "{{ ibm_api_key }}"
    ibm_bucket_name: "{{ ibm_bucket_name }}"
    ibm_endpoint: "{{ ibm_endpoint }}"
    ibm_auth_endpoint: "{{ ibm_auth_endpoint }}"
    ibm_resource_id: "{{ ibm_resource_id }}"
    osp_auth_url: "{{ osp_auth_url }}"
    osp_username: "{{ osp_username }}"
    osp_password: "{{ osp_password }}"
    osp_project: "{{ osp_project }}"
    images:
      {% for disk in images %}
      - ['{{ disk.type }}', '{{ disk.device }}', '{{ disk.name }}', '{{ disk.size }}']  
      {% endfor %}
    output_dir: "/images/import/{{ project_name }}"
{% raw %}
  tasks:
    - name: Remove from the VM the directory /images/import
      file:
        path: "/images/import"
        state: absent

    - name: Create in the VM the directory {{ output_dir}}
      file:
        path: "{{ output_dir }}"
        state: directory
        recurse: true

#    - name: Install qemu-img
#      yum:
#        name: qemu-img
#        state: present

#    - name: Install ibm-cos-sdk using pip
#      pip:
#        name: ibm-cos-sdk
#        state: present

#    #  subscription-manager repos --enable rhel-7-server-openstack-14-rpms
#    # yum install python2-openstacksdk.noarch
#    - name: Install openstacksdk using pip
#      pip:
#        name: openstacksdk
#        version: 0.24.0
#        state: present

    - name: Download images from IBM Cloud Storage
      when: ibm_api_key != "" and ibm_bucket_name != ""
      block:
        - name: Download and convert images
          convert_images:
            ibm_endpoint: "{{ ibm_endpoint }}"
            ibm_auth_endpoint: "{{ ibm_auth_endpoint }}"
            ibm_api_key: "{{ ibm_api_key }}"
            ibm_resource_id: "{{ ibm_resource_id }}"
            bucket: "{{ ibm_bucket_name }}"
            blueprint: "{{ project_name }}"
            output_dir: "{{ output_dir }}"
            images: "{{ images }}"
            mode: "download"
            overwrite: None

        - name: Upload image to Glance
          os_image:
            auth:
             auth_url: "{{ osp_auth_url }}"
             project_name: "{{ osp_project }}"
             username: "{{ osp_username }}"
             password: "{{ osp_password }}"
             user_domain_name: Default
             project_domain_name: Default
            name: "{{ project_name }}-{{ item[2] }}"
            container_format: bare
            disk_format: raw
            is_public: True
            filename: "{{ output_dir }}/{{ item[2] }}.raw"
            properties:
              blueprint: "{{ project_name }}"
          loop:  "{{ images }}"
          loop_control:
            label: "{{project_name}}/{{ item[2] }}"

    - name: Remove from the VM the directory {{ output_dir }}
      file:
        path: "{{ output_dir }}"
        state: absent
{% endraw %}

- hosts: localhost
  gather_facts: False
  become: false
  connection: local
  vars:
    project_name: "{{ project_name }}"
    heat_repository: git@github.com:redhat-gpe/novello-templates.git
    git_dir: "../../novello-templates"
    template_dir: "{% raw %}{{ git_dir }}{% endraw %}/heat-templates/{{ project_name }}"
{% raw %}
  tasks:
    - name: Clone heat-templates repository
      git:
        repo: "{{ heat_repository }}"
        dest: "{{ git_dir}}"
        version: master
        force: true

    - name: Create {{ template_dir }} directory
      file:
        path: "{{ template_dir }}"
        state: directory
        recurse: true

    - name: Copy heat-templates to {{ template_dir }}
      copy:
        src: "{{ item }}"
        dest: "{{ template_dir }}"
      loop:
        - stack_admin.yaml
        - stack_user.yaml
      register: copy_templates

    - name: Add heat templates to git
      shell: cd "{{ git_dir }}" && git add .
      when: copy_templates is changed

    - name: Commit heat templates for {{ project_name }}
      environment:
        GPG_TTY: ""
      shell: cd "{{ git_dir }}" && git commit -m 'Update heat {{ project_name }}'
      when: copy_templates is changed

    - name: Pushing modifications
      shell: cd "{{ git_dir }}" && git push
      when: copy_templates is changed

{% endraw %}
