  {{ name}}_port:
    type: OS::Neutron::Port
    properties:
      network: { get_resource: {{network}}_network }
      mac_address: "{{ mac }}"
      port_security_enabled: false
      {% if ip_address %}
      fixed_ips:
        - {subnet: {get_resource: {{network}}_subnet}, ip_address: "{{ ip_address }}"}
      {% endif %}

