  openstack_project:
    type: OS::Keystone::Project
    properties:
      name: { get_param: project_name }
      domain: Default
      description: { get_param: project_description }

  openstack_project_user:
    type: OS::Keystone::User
    properties:
      name: { get_param: project_api_user }
      password: { get_param: project_api_pass }
      domain: Default

  openstack_project_role:
    type: OS::Keystone::UserRoleAssignment 
    properties: 
      user: admin
      roles:  
        - {project: {get_resource: openstack_project}, role: admin} 

  openstack_project_role_user:
    type: OS::Keystone::UserRoleAssignment 
    properties: 
      user: { get_resource: openstack_project_user }
      roles:  
        - {project: {get_resource: openstack_project}, role: _member_} 
    depends_on:
      - openstack_project_user

  openstack_project_nova_quota:
    type: OS::Nova::Quota
    properties:
      cores: -1
      instances: -1
      project: {get_resource: openstack_project}
      ram: -1
    depends_on:
      - openstack_project

  openstack_project_neutron_quota:
    type: OS::Neutron::Quota
    properties:
      project: {get_resource: openstack_project}
      security_group: -1
      security_group_rule: -1
    depends_on:
      - openstack_project

  openstack_project_cinder_quota:
    type: OS::Cinder::Quota
    properties:
      project: {get_resource: openstack_project}
      volumes: 100
      gigabytes: -1
    depends_on:
      - openstack_project_nova_quota

