  {{name}}_server:
    type: OS::Nova::Server
    properties:
      name: "{{ name }}"
      image: "{{ name }}-{{root_disk}}"
      config_drive: true
      flavor: { get_resource: {{ flavor }}_flavor }
      metadata: { "description": "{{ description }}"{% if cdrom %}, "cdrom": "{{name-}}-{{cdrom}}"{%endif%}  }
      {% if userdata|length %}
      user_data: |
        {{ userdata|replace("\n","\n        ") }}
      {% endif %}
      networks:
        {% for nic in nics %}
        - port: { get_resource: {{name}}-{{loop.index-1}}_port}
        {% endfor %}

