  {{vm}}_volume_{{volume}}:
    type: OS::Cinder::Volume
    properties:
      name: "{{ vm }}-{{ volume }}"
      {% if not emptyvolumes %}
      image: "{{bpname }}-{{ vm }}-{{ volume}}"
      {% endif %}
      size: "{{ size }}"

